 
 
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">注文完了</h1>
        <p class="lead text-muted">ご注文ありがとうございました。<br>ご注文状況は、注文履歴をご覧ください</p>
        <p>
          <a href="/members/orders" class="btn btn-primary my-2">注文履歴</a>
          <a href="/members/items" class="btn btn-secondary my-2">商品一覧</a>
        </p>
      </div>
    </div>
  </section>



