<table class="table table-striped">
  <thead>
    <tr>
      <th>
        ジャンル一覧
      </th>
    </tr>
  </thead>
  <tbody>
  <% categories.each do |category| %>  
  <!--NoMethodError-->
    <tr>
      <td<%= category.category %>></td>
    </tr>
  <% end %>
  </tbody>
 </table>