<div class='container'>
  <div class='row'>
    <h1>商品一覧</h1>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th colspan="3"></th>
          <th>商品名</th>
          <th colspan="3"></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= @item.image %></td>
            <td><%= link_to @item.name, members_item_path(@item), class: "item_#{item.id}" %></td>
            <td class="badge rounded-pill bg-primary">カテゴリー</td>
            <td class="badge rounded-pill bg-primary">販売ステータス</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>