<div class='container'>
  <div class='row'>
    <div class="col-md-3">
    
    <%= render 'members/items/category', categories: @categories %>
      
    </div>
    
    <div class="col-md-8 offset-md-1">
    
    <h1>商品一覧</h1>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= attachment_image_tag item, :picture, :fill, 100, 100, format: 'jpeg' %></td>
            <td><%= link_to item.name, members_item_path(item), class: "item_#{item.id}" %></td>
            <td class="badge rounded-pill bg-primary">カテゴリー</td>
            <td class="badge rounded-pill bg-primary">販売ステータス</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>