<h2>Mypage</h2>

<table>
   <tr>
      <td>
       <h3><strong>登録情報</strong></h3>
      </td>
      <td><%= link_to '編集する', class: "btn btn-sm btn-success" %></td>
   </tr>
</table>

<table class='table'>
  <tr>
    <td>氏名</td>
    <td>苗字<%#= current_member.firstname %></td>
    <td>名前<%#= current_member.lastname %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%#= current_member.firstruby %></td>
    <td><%#= current_member.lastruby %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%#= current_member.zip %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%#= current_member.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%#= current_member.tel %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%#= current_member.email %></td>
  </tr>
</table>

<table>
  <tr>
    <td>配送先</td>
    <td><%= link_to '一覧を見る', class: "btn btn-sm btn-primary" %></td>
  </tr>
  <tr>
    <td>注文履歴</td>
    <td><%= link_to '一覧を見る', class: "btn btn-sm btn-primary" %></td>
  </tr>
</table>