 <div class="container">
   <div class='row'>
     <h1>長野県にある小さな洋菓子店「ながのCAKE」</h1>
     <div>ながのcakeでは、その日に焼き上げたパンを、インターネットでご注文いただけます。<br>
     遠方にお住まいの方やご贈答などに、どうぞご利用ください。
     </div>
   </div>
   <div class='row'>
    <%= image_tag 'cake.jpg', class:'about' %>
   </div>
 </div>