<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p>🄫2021 naganocake.</p>
        <% if member_signed_in? %>
        <p>テスト表記：会員ログイン状態</p>
        <% end %>
        <% if admin_signed_in? %>
        <p>テスト表記：管理者ログイン状態</p>
        <% end %>
      </div>
    </div>
  </div>
</footer>