<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container">
  <a class="navbar-brand" href="/">Naganocake</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link active" href= "#" >Mypage <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href=" /admin/items">item</a>
      <a class="nav-item nav-link disabled" href="#">cart_items</a>
      <a class="nav-item nav-link disabled" href="#">logout</a>
      

      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/admins/sign_up">Sign up</a>
      <a class="nav-item nav-link disabled" href="/admins/sign_in">login</a>
      </div>
    </div>
  </div>
  </nav>
</header>